@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 221 42% 7%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 241 84% 48%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    /* --border: 217.3 31.8% 91.4%; */
    --border: 217 14% 81%;
    --input: 214.3 31.8% 91.4%;
    --ring: 241 84% 48%;
    --radius: 1rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 217 14% 81%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    /* --primary: 217.2 91.2% 59.8%; */
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 42.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive-foreground: 210 40% 98%;
    /* --border: 217.2 32.6% 17.5%; */
    --border: 0 0% 36%;
    /* --border: 95.25 67.8%, 76.86%; */
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    font-family: 'Inter', san-serif;
    @apply bg-background text-foreground;
    height: 100%;
    /* overflow-x: hidden; */
  }

  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  input[type="search"] {
    min-width: 0;
  }
}

.min-h-layout {
  /* min-height: calc(100vh - 115px); */
}

.logo-gradient {
  background: linear-gradient(to right, #eb568e, #144ee3);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient {
  background: linear-gradient(to right, #144ee3, #eb568e, #a353aa, #144ee3);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.scrollbar-hide {
  /* For WebKit-based browsers */
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* For WebKit-based browsers */
}